#Example showing some Ocelot-specific settings
#This could be appended to an option file such as ~.my.cnf
#... but it's only an example of syntax, not of good taste
[ocelot]

ocelot_grid_text_color='Indigo'
ocelot_grid_background_color='DodgerBlue'
ocelot_grid_border_color='Firebrick'
ocelot_grid_header_background_color='Ivory'
ocelot_grid_font_family='Courier New'
ocelot_grid_font_size=11
ocelot_grid_font_style='Normal'
ocelot_grid_font_weight='Bold'
ocelot_grid_cell_border_color='Honeydew'
ocelot_grid_cell_drag_line_color='HotPink'
ocelot_grid_border_size=5
ocelot_grid_cell_border_size=4
ocelot_grid_cell_drag_line_size=5
ocelot_grid_detached = 'no'
ocelot_grid_left = 'default'
ocelot_grid_top = 'default'
ocelot_grid_width = 'default'
ocelot_grid_height = 'default'

ocelot_history_text_color='coral'
ocelot_history_background_color='tan'
ocelot_history_border_color='cadetblue'
ocelot_history_font_family='Ubuntu'
ocelot_history_font_size=16
ocelot_history_font_style='normal'
ocelot_history_font_weight='normal'
ocelot_history_max_row_count = '0'
ocelot_history_detached = 'no'
ocelot_history_left = 'default'
ocelot_history_top = 'default'
ocelot_history_width = 'default'
ocelot_history_height = 'default'

ocelot_menu_text_color= 'skyblue'
ocelot_menu_background_color='tomato'
ocelot_menu_border_color='red'
ocelot_menu_font_family='Times New Roman'
ocelot_menu_font_size=32
ocelot_menu_font_style='italic'
ocelot_menu_font_weight='bold'

ocelot_statement_text_color='red'
ocelot_statement_background_color='blue'
ocelot_statement_border_color='green'
ocelot_statement_font_family='Monospace'
ocelot_statement_font_size=16
ocelot_statement_font_style='normal'
ocelot_statement_font_weight='bold'
ocelot_statement_highlight_literal_color='SeaGreen'
ocelot_statement_highlight_identifier_color='brown'
ocelot_statement_highlight_comment_color='chartreuse'
ocelot_statement_highlight_operator_color='#7F007F'
ocelot_statement_highlight_keyword_color='purple'
ocelot_statement_prompt_background_color='#0DF8F3'
ocelot_statement_highlight_current_line_color='yellow'
ocelot_statement_highlight_function_color='magenta'
ocelot_statement_syntax_checker= '1'
ocelot_statement_detached = 'no'
ocelot_statement_left = 'default'
ocelot_statement_top = 'default'
ocelot_statement_width = 'default'
ocelot_statement_height = 'default'
ocelot_statement_format_clause_indent='4'
ocelot_statement_format_statement_indent='2'
ocelot_statement_format_rule='keyword becomes keyword-upper;'

ocelot_extra_rule_1_text_color='WebGreen'
ocelot_extra_rule_1_background_color='MistyRose'
ocelot_extra_rule_1_condition='data_type LIKE ''%BINARY'''
ocelot_extra_rule_1_display_as='image'

ocelot_dbms='mysql'
ocelot_client_side_functions=1
ocelot_grid_tabs=10
ocelot_log_level=100

ocelot_shortcut_connect= "default"
ocelot_shortcut_exit= "default"
ocelot_shortcut_undo= "default"
ocelot_shortcut_redo= "default"
ocelot_shortcut_cut= "default"
ocelot_shortcut_copy= "default"
ocelot_shortcut_paste= "default"
ocelot_shortcut_select_all= "default"
ocelot_shortcut_history_markup_previous= "default"
ocelot_shortcut_history_markup_next= "default"
ocelot_shortcut_execute= "default"
ocelot_shortcut_kill= "default"
ocelot_shortcut_breakpoint= "default"
ocelot_shortcut_continue= "default"
ocelot_shortcut_next= "default"
ocelot_shortcut_step= "default"
ocelot_shortcut_clear= "default"
ocelot_shortcut_debug_exit= "default"
ocelot_shortcut_information= "default"
ocelot_shortcut_refresh_server_variables= "default"
ocelot_shortcut_refresh_user_variables= "default"
ocelot_shortcut_refresh_variables= "default"
ocelot_shortcut_refresh_call_stack= "default"
ocelot_shortcut_next_window= "default"
ocelot_shortcut_previous_window= "default"
