[Desktop Entry]
Type=Application
Name=ocelotgui
Comment=GUI client for MySQL or MariaDB
Exec=ocelotgui
Icon=ocelotgui-logo.png
Terminal=false
Categories=Utility;Database;
Keywords=mysql;mariadb;tarantool;gui;client;
