Source: ocelotgui
Section: database
Priority: optional
Maintainer: Peter Gulutzan <pgulutzan@ocelot.ca>
Build-Depends: debhelper, cmake, dpkg, qtbase5-dev, default-libmysqlclient-dev | libmariadbclient-dev | libmysqlclient-dev
Standards-Version: 3.9.8
Homepage: http://ocelot.ca

Package: ocelotgui
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Ocelot GUI (ocelotgui), a database client
 Users can connect to
 a MySQL or MariaDB DBMS server, enter SQL statements, and receive results.
 Some features are: syntax highlighting, user-settable colors
 and fonts for each part of the screen, result-set displays
 with multi-line rows and columns that can be resized, and a debugger.
